In [1]:
import pandas as pd

In [6]:
df_bookings = pd.read_csv('bookings.csv')

In [17]:
df_bookings

      id|room|start date|end date|request id
0               1|L0|2016-02-07|2016-02-10|1
1               2|L0|2016-03-13|2016-03-21|2
2               3|D2|2016-02-19|2016-02-20|3
3               4|X0|2016-01-22|2016-01-26|4
4               5|L0|2016-02-22|2016-02-26|5
5               6|N0|2016-03-14|2016-03-25|6
6               7|N1|2016-03-14|2016-03-25|6
7               8|N2|2016-03-14|2016-03-25|6
8               9|N0|2016-01-22|2016-01-24|7
9              10|N1|2016-01-22|2016-01-24|7
10             11|N2|2016-01-22|2016-01-24|7
11             12|L6|2016-03-02|2016-03-03|8
12             13|D1|2016-02-01|2016-02-03|9
13           14|X23|2016-03-17|2016-03-20|10
14           15|X24|2016-03-17|2016-03-20|10
15            16|D0|2016-03-16|2016-03-19|11
16            17|D0|2016-02-02|2016-02-08|12
17            18|D4|2016-02-02|2016-02-08|12
18            19|L1|2016-02-07|2016-02-11|13
19           20|S11|2016-03-19|2016-03-21|14
20           21|S12|2016-03-19|2016-03-21|14
21           22|S13|2016-03-19|2016-03-21|14
22            23|D0|2016-01-10|2016-01-11|15
23            24|L0|2016-03-22|2016-03-23|16
24            25|X0|2016-01-30|2016-02-08|17
25            26|X1|2016-01-30|2016-02-08|17
26            27|S3|2016-02-13|2016-02-16|18
27            28|S4|2016-02-13|2016-02-16|18
28            29|S5|2016-02-13|2016-02-16|18
29            30|S6|2016-02-13|2016-02-16|18
...                                      ...
10316  10317|N135|2016-02-17|2016-02-20|4989
10317  10318|N136|2016-02-17|2016-02-20|4989
10318   10319|X59|2016-03-07|2016-03-10|4990
10319   10320|X60|2016-03-07|2016-03-10|4990
10320  10321|N199|2016-03-16|2016-03-19|4991
10321  10322|N200|2016-03-16|2016-03-19|4991
10322   10323|D54|2016-01-20|2016-01-23|4992
10323  10324|S138|2016-02-04|2016-02-08|4993
10324  10325|S139|2016-02-04|2016-02-08|4993
10325   10326|D36|2016-01-08|2016-01-10|4994
10326   10327|D37|2016-01-08|2016-01-10|4994
10327   10328|X73|2016-03-24|2016-03-28|4995
10328   10329|X74|2016-03-24|2016-03-28|4995
10329  10330|N191|2016-01-29|2016-02-05|4996
10330  10331|N192|2016-01-29|2016-02-05|4996
10331  10332|N193|2016-01-29|2016-02-05|4996
10332  10333|N194|2016-01-29|2016-02-05|4996
10333  10334|N195|2016-01-29|2016-02-05|4996
10334  10335|S128|2016-02-21|2016-02-24|4997
10335  10336|S129|2016-02-21|2016-02-24|4997
10336  10337|S130|2016-02-21|2016-02-24|4997
10337  10338|S131|2016-02-21|2016-02-24|4997
10338  10339|S132|2016-02-21|2016-02-24|4997
10339   10340|L57|2016-01-12|2016-01-17|4998
10340   10341|L53|2016-02-25|2016-03-01|4999
10341  10342|N134|2016-03-28|2016-04-06|5000
10342  10343|N135|2016-03-28|2016-04-06|5000
10343  10344|N136|2016-03-28|2016-04-06|5000
10344  10345|N137|2016-03-28|2016-04-06|5000
10345  10346|N138|2016-03-28|2016-04-06|5000

[10346 rows x 1 columns]

In [9]:
df_food_orders = pd.read_csv('food-orders.csv')

In [10]:
df_menu = pd.read_csv('menu.csv')

In [11]:
df_requests = pd.read_csv('requests.csv')

In [12]:
df_room = pd.read_csv('rooms.csv')

In [13]:
df_room

  id|price/day|capacity|type|prefix
0             1|150|3|deluxe_room|X
1             2|100|3|double_room|D
2   3|80|15|conference_room_small|S
3              4|80|1|normal_room|N
4  5|150|50|conference_room_large|L

In [14]:
df_requests

,request id,client name,room type,request type,start date,end date,#adults,#children
0,1,Dr. Iza Gerhold,conference_room_large,conference,16-02-07,16-02-10,27,0
1,2,Ila Sawayn,conference_room_large,conference,16-03-13,16-03-21,22,0
2,3,Iverson McCullough,double_room,business,16-02-19,16-02-20,2,1
3,4,Katharyn Goyette DVM,deluxe_room,business,16-01-22,16-01-26,1,0
4,5,Deloris Vandervort,conference_room_large,party,16-02-22,16-02-26,24,26
5,6,Dr. Sydney Hackett PhD,normal_room,holiday,16-03-14,16-03-25,3,0
6,7,Mattye Kovacek MD,normal_room,business,16-01-22,16-01-24,3,0
7,8,Lawson Veum DVM,conference_room_large,party,16-03-02,16-03-03,12,13
8,9,Dr. Derrell Schneider V,double_room,business,16-02-01,16-02-03,1,1
9,10,Nathan Hyatt,deluxe_room,business,16-03-17,16-03-20,4,0
10,11,Miss Abbigail Kulas,double_room,holiday,16-03-16,16-03-19,1,2
11,12,Mrs. Etna Strosin,double_room,holiday,16-02-02,16-02-08,3,1
12,13,Kelby Feil,conference_room_large,party,16-02-07,16-02-11,24,24
13,14,Dr. Jeana Bode DDS,conference_room_small,conference,16-03-19,16-03-21,43,0
14,15,Tiarra Brekke,double_room,business,16-01-10,16-01-11,2,0
15,16,Migdalia Little,conference_room_large,conference,16-03-22,16-03-23,14,0
16,17,Miss Vernetta Mitchell,deluxe_room,holiday,16-01-30,16-02-08,4,0
17,18,Jaylyn Metz,conference_room_small,wedding,16-02-13,16-02-16,36,18
18,19,Kenyon Green I,normal_room,holiday,16-01-28,16-02-05,1,3
19,20,Le O'Kon,conference_room_small,party,16-03-02,16-03-06,22,11
20,21,Mr. Oswaldo Terry DVM,double_room,holiday,16-03-26,16-03-28,1,0
21,22,Dr. Tennille Lind,conference_room_large,party,16-03-23,16-03-26,7,41
22,23,Mitch Goodwin DDS,normal_room,business,16-01-06,16-01-08,1,1
23,24,Dr. Lilliana Wiegand,conference_room_large,party,16-03-22,16-03-27,34,34
24,25,Jeannie Olson,conference_room_small,conference,16-03-12,16-03-14,16,0
25,26,Dr. Prudence Bode PhD,conference_room_large,wedding,16-01-04,16-01-08,23,24
26,27,Dr. Sal Fisher DDS,deluxe_room,business,16-02-26,16-02-28,1,0
27,28,Dangelo Schimmel,normal_room,holiday,16-01-12,16-01-19,5,0
28,29,Dr. Billy Corkery,normal_room,holiday,16-03-09,16-03-13,5,3
29,30,Amanda Marvin,conference_room_large,conference,16-03-03,16-03-07,40,0
...,...,...,...,...,...,...,...,...
4970,4971,Barnard Feil,normal_room,holiday,16-03-26,16-03-29,1,4
4971,4972,Dr. Demarcus Tillman I,conference_room_large,party,16-02-17,16-02-20,21,31
4972,4973,Brigitte Schaden,conference_room_small,party,16-03-27,16-03-28,29,10
4973,4974,Emory Koss,conference_room_large,party,16-03-02,16-03-08,25,14
4974,4975,Griffin Rogahn,normal_room,business,16-01-30,16-02-04,1,1
4975,4976,Dr. Ramon Pollich,conference_room_large,party,16-02-13,16-02-21,20,27
4976,4977,Maggie Hagenes,double_room,holiday,16-01-18,16-01-21,1,0
4977,4978,Mrs. Eboni Tillman,normal_room,business,16-01-14,16-01-16,7,2
4978,4979,Tosha Koch,conference_room_large,wedding,16-03-10,16-03-12,13,25
4979,4980,Norton Botsford,conference_room_small,party,16-03-16,16-03-20,4,20
4980,4981,Peter Jaskolski,conference_room_large,conference,16-01-23,16-02-02,30,0
4981,4982,Mr. Infant Schmidt,conference_room_small,wedding,16-01-05,16-01-08,12,25
4982,4983,Chelsy Yundt DVM,deluxe_room,business,16-02-29,16-03-03,3,0
4983,4984,Miss Odelia Connelly,conference_room_small,conference,16-02-17,16-02-21,53,0
4984,4985,Miss Vara Eichmann MD,conference_room_small,conference,16-03-15,16-03-17,19,0
4985,4986,Olar Breitenberg,conference_room_small,wedding,16-02-15,16-02-25,34,35
4986,4987,Lessie Schumm,conference_room_small,party,16-03-25,16-03-28,31,25
4987,4988,Dr. Plummer Schmitt Sr.,double_room,holiday,16-03-27,16-03-28,3,1
4988,4989,Mr. Jermey Schuppe V,normal_room,holiday,16-02-17,16-02-20,3,0
4989,4990,Vernie Bosco,deluxe_room,holiday,16-03-07,16-03-10,4,0
4990,4991,Rubie Cummings,normal_room,business,16-03-16,16-03-19,1,1
4991,4992,Cal Schaefer,double_room,holiday,16-01-20,16-01-23,2,1
4992,4993,Webster Casper,conference_room_small,conference,16-02-04,16-02-08,21,0
4993,4994,Mervyn Lueilwitz,double_room,holiday,16-01-08,16-01-10,2,2
4994,4995,Nicky Bailey,deluxe_room,holiday,16-03-24,16-03-28,2,3
4995,4996,Shelia Feest,normal_room,business,16-01-29,16-02-05,5,0
4996,4997,Zaida Pouros,conference_room_small,party,16-02-21,16-02-24,18,45
4997,4998,Krysta Sauer,conference_room_large,conference,16-01-12,16-01-17,40,0
4998,4999,Mr. Jeremiah Altenwerth IV,conference_room_large,wedding,16-02-25,16-03-01,22,10
4999,5000,Dr. Wilton Predovic,normal_room,business,16-03-28,16-04-06,4,1

In [15]:
df_food_orders

       dest room bill room      date         time  #orders  menu id
0             L0        L0  16-02-09  10:15:00 AM        3        6
1     restaurant        L0  16-02-07  11:35:00 AM        5        8
2             L0        L0  16-03-17   6:54:00 AM        5       12
3     restaurant        L0  16-03-15   5:53:00 PM        4        7
4             L0        L0  16-03-16   2:54:00 PM        5        7
5     restaurant        L0  16-03-15   7:32:00 PM        1       11
6     restaurant        N1  16-03-16   7:52:00 AM        1        9
7             N2        N2  16-03-22  10:04:00 AM        2        8
8             L1        L1  16-02-08   1:17:00 PM        1        2
9            S61       S61  16-03-04  10:34:00 PM        3       10
10           S62       S62  16-03-05   1:36:00 AM        3       10
11    restaurant        L1  16-03-26   2:08:00 AM        4        0
12    restaurant        L2  16-03-24   4:01:00 PM        4        9
13            L2        L2  16-03-23   8:58:00 AM        1        0
14    restaurant        L2  16-03-22   2:12:00 AM        5       14
15    restaurant        L0  16-03-06   1:40:00 AM        5        5
16    restaurant        L0  16-03-05  10:10:00 AM        3        6
17    restaurant        L1  16-01-03   6:33:00 AM        1       11
18            S0        S0  16-01-13   7:28:00 AM        5       14
19            S2        S2  16-01-14   2:43:00 AM        5        6
20            D2        D2  16-03-04   7:31:00 PM        1        1
21    restaurant        D3  16-03-06  11:06:00 PM        5        6
22            L1        L1  16-01-03  12:02:00 AM        4        8
23            L1        L1  16-04-05   1:44:00 AM        4       10
24    restaurant        L1  16-04-05   3:22:00 PM        3        3
25    restaurant        L1  16-03-28   3:20:00 AM        4       11
26    restaurant        L1  16-04-02  12:09:00 AM        5        4
27    restaurant        L1  16-04-01   7:28:00 AM        2        0
28    restaurant        L1  16-04-01   1:24:00 AM        2        6
29            L2        L2  16-04-01   8:58:00 PM        2        7
...          ...       ...       ...          ...      ...      ...
2935        S141      S141  16-03-18   5:54:00 AM        4       14
2936        S136      S136  16-02-08   6:59:00 PM        3       14
2937        S137      S137  16-02-13   7:54:00 PM        3        3
2938         L64       L64  16-01-17   7:33:00 AM        5       11
2939         L64       L64  16-01-17   8:12:00 AM        2        7
2940         L69       L69  16-01-21   3:46:00 AM        2        3
2941         L52       L52  16-02-17  10:48:00 PM        2       14
2942         L52       L52  16-02-19  11:25:00 PM        5       14
2943         L75       L75  16-03-07   9:44:00 AM        4        2
2944         L53       L53  16-02-15   1:22:00 AM        1        5
2945  restaurant       L53  16-02-20  11:17:00 PM        1        8
2946         L53       L53  16-02-20  10:03:00 AM        5        7
2947  restaurant       L63  16-03-10  11:19:00 AM        5        1
2948        S143      S143  16-03-19   7:33:00 AM        4       12
2949  restaurant      S144  16-03-16  11:25:00 PM        2        0
2950         L70       L70  16-01-30   8:36:00 PM        3        0
2951         L70       L70  16-02-01   2:21:00 AM        4        9
2952  restaurant       S94  16-02-17   6:58:00 AM        4       10
2953         S96       S96  16-02-18   6:29:00 PM        3        1
2954         S98       S98  16-02-24   8:59:00 AM        5       14
2955  restaurant      S100  16-02-16   7:28:00 PM        1       11
2956        S100      S100  16-02-20   3:39:00 AM        4        6
2957  restaurant      S100  16-02-18   3:00:00 AM        1        4
2958        S101      S101  16-02-24   4:31:00 AM        3       13
2959        S102      S102  16-02-19   6:12:00 PM        1        8
2960        S138      S138  16-02-07  10:05:00 AM        5        4
2961  restaurant       L57  16-01-12   3:34:00 PM        3        4
2962  restaurant       L53  16-02-26  10:41:00 AM        3        8
2963         L53       L53  16-02-28   5:59:00 PM        4        7
2964  restaurant       L53  16-02-27   1:03:00 AM        5        4

[2965 rows x 6 columns]

In [16]:
df_menu

    id                name  price         category
0    0               water    2.5            drink
1    1          soft-drink    3.0            drink
2    2                beer    3.5  alcoholic-drink
3    3                wine    3.5  alcoholic-drink
4    4    simple-breakfast    5.0        breakfast
5    5    french-breakfast    7.0        breakfast
6    6    deluxe-breakfast   12.0        breakfast
7    7        simple-lunch    5.0            lunch
8    8        deluxe-lunch   10.0            lunch
9    9      steak 'n stuff   18.0           dinner
10  10        surf 'n turf   17.0           dinner
11  11  vegetarian lasagna   16.0           dinner
12  12           spareribs   17.0           dinner
13  13          super soup   14.0           dinner
14  14              coffee    3.0            drink
15  15                 tea    2.5            drink